body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
}

.app {
    margin: 20px;
}

.filters {
    display: flex;
    justify-content: flex-start;

    .filter {
        min-width: 100px;
        padding-right: 10px;
    }
}
