body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
}

.app {
    margin: 20px;
}

.results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sorters {
        display: flex;

        .filter {
            margin: 0 10px;
        }
    }
}

.filters {
    display: flex;
    justify-content: flex-start;

    .filter {
        min-width: 100px;
        padding-right: 10px;
    }
}
